main {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(28, auto);
  grid-template-columns: auto;
  grid-auto-columns: 84px;
  align-content: start;
  justify-content: start;
}

main > * {
  display: contents;
}

main > * > * {
  padding-right: 8px;
  padding-left: 8px;
}

main > * > *:first-child {
  border-top: 1px solid var(--color-border);
}

main > * > *:last-child {
  border-bottom: 1px solid var(--color-border);
}

main > * > .source,
main > * > .destination {
  background-color: var(--color-source-destination-background);
}

main > * > .source {
  border-top: 3px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

main > * > .destination {
  border-top: 1px solid var(--color-border);
  border-bottom: 3px solid var(--color-border);
}

main > * > .arrival + .departure {
  border-top: 1px solid var(--color-border);
}
