.train-regional {
  color: var(--color-train-regional);
}

.train-long-distance {
  color: var(--color-train-long-distance);
}

.train-overnight {
  color: var(--color-train-overnight);
}

.train > * {
  border-left: 1px solid var(--color-border);
  text-align: right;
}

.train .category {
  font-weight: bold;
  font-style: italic;
}

.train .skipped {
  position: relative;
}

.train .skipped::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  width: 1px;
}

.train-regional .skipped::before {
  background-color: var(--color-train-regional);
}

.train-long-distance .skipped::before {
  background-color: var(--color-train-long-distance);
}

.train-overnight .skipped::before {
  background-color: var(--color-train-overnight);
}
